.main {
    max-width: 1100px;
    height: 720px;
    background-color: lightskyblue;
    position: relative;
    margin: auto;
    overflow: hidden;
    
}

.home-wings {
    width: 250px;
    height: 250px;
    position: relative;
    top: 10%;
    left: 40%;
    animation: home 3s infinite linear;
    animation-direction: alternate;
    z-index: 4;
}

.home {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 3;
    
        
    
}

.home-wings-left {
    position: absolute;
    top: 0%;
    left: -30%;
    z-index: 2;
    animation: left-wing 1.5s infinite linear;
}

.home-wings-right {
    position: absolute;
    top: 0;
    left: 70%;
    z-index: 2;
    animation: right-wing 1.5s infinite linear;
}

.money-wings {
    width: 200px;
    height: 200px;
    position: relative;
    top: 2%;
    left: 74%;
    animation: home 3s infinite linear;
    animation-direction: alternate;
    z-index: 4;
}

.money {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 160px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    
}

.money img {
    vertical-align: middle;
}

.money-wings-left {
    position: absolute;
    top: 0;
    left: -32%;
    z-index: 2;
    animation: left-wing 1.5s infinite linear;
}

.money-wings-right {
    position: absolute;
    top: 0;
    left: 61%;
    z-index: 2;
    animation: right-wing 1.5s infinite linear;
}

.education-wings {
    width: 160px;
    height: 160px;
    position: relative;
    top: -1%;
    left: 42%;
    animation: home 3s infinite linear;
    animation-direction: alternate;
    z-index: 4;
}

.education {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    
}

.education img {
    vertical-align: middle;
}

.education-wings-left {
    position: absolute;
    top: 0;
    left: -32%;
    z-index: 2;
    animation: left-wing 1.5s infinite linear;
}

.education-wings-right {
    position: absolute;
    top: 0;
    left: 75%;
    z-index: 2;
    animation: right-wing 1.5s infinite linear;
}

.cloud-big {
    position: absolute;
    top: 13%;
    left: -10%;
    width: auto;
    animation: cloud-big 22s infinite linear;
    
}

.cloud-small {
    position: absolute;
    top: 29%;
    left: 34%;
    width: auto;
    animation: cloud-small 22s infinite linear;
    animation-direction: normal;
    
      
}

.cloud-middle {
    position: absolute;
    top: 53%;
    left: 40%;
    width: auto;
    animation: cloud-middle 22s infinite linear;
    animation-direction: normal;
}

@keyframes cloud-big {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(1200px);
    }
}

@keyframes cloud-small {
    0% {
        transform: translateX(0);
    }

    70% {
        transform: translateX(730px);
    }

    
    100% {
        transform: translateX(-1px);
    }
}

@keyframes cloud-middle {
    0% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(670px);
    }
    100% {
        transform: translateX(-1px);
    }
}

@keyframes home {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10%);
    }
}

@keyframes right-wing {
    0% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-45deg);
    }
}

@keyframes left-wing {
    0% {
        transform: rotate(45deg);
        
    }

    50% {
        transform: rotate(0);
        
    }

    100% {
        transform: rotate(45deg);
        
    }
}